body{
    background: linear-gradient(90deg, rgba(131,108,213,1) 0%, rgba(81,53,204,0.3337710084033614) 35%, rgba(0,212,255,1) 100%);
}
.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #299bcf;
   
    
  }
.encabezado img{
    background-position: center;
    margin: 18px;
    width: 200px;
    height: 120px;
    border-radius: 90%;
    padding-left: 5%;
  }

  h1{
   text-align: center;
   margin: 0 auto;
  font-size: 40pt;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  

  }
nav {
    display: flex;
    align-items: right;
    background-color: #f9fafa;
    padding: 10px;
  }
  
   .logo img {
    align-items: right;
    height: 40px;
    width: auto;
    cursor: pointer;
  }
  
  .menu {
   display:none;
    position:relative;
    top: 60px;
    left: 0;
    background-color: #32429c;
    padding: 10px;
    text-decoration: solid ;

  }
  
  .menu li {
    margin: 10px 0;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .logo:hover + .menu,
  .menu:hover {
    display: block;
  }
  
  li {
    list-style:none;
  
   
}


  .contacto{
    width:800px; /*Le establecemos un ancho*/
    margin: 0 auto; /*Centramos automaticamente*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: 50%;
  }
   
  .logo-whatsapp {
    width: 60px;
  }
  
  .icono-whatsapp {
    width: 30px;
  }
  .logo-telfijo {
    width: 60px;
  }
  
  .icono-telfijo {
    width: 30px;
  }
  .logo-correo {
    width: 60px;
  }
  
  .icono-correo {
    width: 30px;
  }
  .logo-facebook {
    width: 60px;
  }
  
  .icono-facebook {
    width: 30px;
  }


.icono-mapa {
    display: block;
    margin: auto;
    width: 150px;
}

.logo-ubicacion {
    width: 60px;
  }
  
  .icono-ubicacion {
    width: 30px;
  }

  .logo-calendario{
    width: 60px;
  }
  
  .icono-calendario {
    width: 30px;
  }


  .cal_ubic{
    width:800px; /*Le establecemos un ancho*/
    margin: 0 auto; /*Centramos automaticamente*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: 50%;

  }
  .mapa{
    margin-left: 20%;
    width: 250px;
  }