body{
    background: linear-gradient(90deg, rgba(131,108,213,1) 0%, rgba(81,53,204,0.3337710084033614) 35%, rgba(0,212,255,1) 100%);
}
li {
  list-style:none;

 
}
nav {
    display: flex;
    align-items: right;
    background-color: #f9fafa;
    padding: 10px;
  }
  
   .logo img {
    align-items: right;
    height: 40px;
    width: auto;
    cursor: pointer;
  }
  
  .menu {
   display:none;
    position:relative;
    top: 60px;
    left: 0;
    background-color: #32429c;
    padding: 10px;
    text-decoration: solid ;

  }
  
  .menu li {
    margin: 10px 0;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }
  
  .logo:hover + .menu,
  .menu:hover {
    display: block;
  }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1, h2 {
    font-weight: bold;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }


  